{% extends 'base.html' %}
{% block content %}
<body>
    <h1>{% block title %}Browse Recipes{% endblock %}</h1>

    <!-- Display recipes -->
    
    <div class="recipe-list">
        <div class="recipe">
            {% for key, value in recipe.items() %}
                <tr>  
                    <td> {{ key }} </td>
                    <td> {{ ":" }} </td>
                    <td> {{ value }} </td>
                    <br>
                </tr>
            {% endfor %}
        </div>
    </div>
{% endblock %}